In [2]:
import numpy as np
import pandas as pd

In [60]:
dados={'Peso':[60,72,np.nan,72,78,np.nan,82,90,76,77],'altura':[1.68,1.7,1.78,1.80,np.nan,1.81,1.79,1.8,1.75,1.75],'idade':[np.nan,40,32,40,40,53,65,45,np.nan,22]}

In [62]:
cadastro= pd.DataFrame(dados)

In [88]:
cadastro.isnull()

    Peso  altura  idade
0  False   False   True
1  False   False  False
2   True   False  False
3  False   False  False
4  False    True  False
5   True   False  False
6  False   False  False
7  False   False  False
8  False   False   True
9  False   False  False

In [103]:
def preencher_valores_faltando(cad):
    
    for col in cad:
        media_val = cad[col].mean()
        cad[col].fillna(media_val,inplace=True)

    return cad

In [104]:
dadostransformados = preencher_valores_faltando(cadastro)

def salvanodados(arquivo):
    with open('arquivo.txt','w') as f:  
        f.write(arquivo)
    f.close()

aqui      Peso    altura   idade
0  60.000  1.680000  42.125
1  72.000  1.700000  40.000
2  75.875  1.780000  32.000
3  72.000  1.800000  40.000
4  78.000  1.762222  40.000
5  75.875  1.810000  53.000
6  82.000  1.790000  65.000
7  90.000  1.800000  45.000
8  76.000  1.750000  42.125
9  77.000  1.750000  22.000

In [ ]:
salvanodados(dadostransformados)